DOCTYPE CSS
body {
    font-family: Arial, sans-serif;
    background-color: #fdf9ef;
    margin: 0;
    padding: 0;
}
header {
    background: #fdf9ef;
    color: #034c30;
    padding: 1rem;
    text-align: center;
}
nav {
    background: #fdf9ef;
    padding: 0.5rem;
    text-align: center;
}
nav a {
    color: #034c30;
    margin: 0 10px;
    text-decoration: none;
    text-align: center;
}
main {
    padding: 2rem;
    text-align: center;
}
footer {
    background: #fdf9ef;
    color: #034c30;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}