DOCTYPE CSS
body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: #fdf9ef;
    margin: 0;
    padding: 0;
}
ul {
  list-style-type: none;
  margin: 0;    
  padding: 0;
}
header {
    background-image: url('whatnot Banner_cover image.png');
    background-size: auto;
    background-position: center;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    color: #034c30;
    padding: 1rem;
    text-align: center;
}
header h1 {
    font-size: 3vw;
}
nav {
    background: #fdf9ef;
    padding: 0.5rem;
    text-align: center;
    display: flex;
}
nav a {
    color: #034c30;
    margin: 0 10px;
    text-decoration: none;
    text-align: center;
    display: flex;
}
main {
    padding: 2rem;
    text-align: center;
}
footer {
    background: #fdf9ef;
    color: #034c30;
    text-align: center;
    padding: 1rem;
    margin-top: 20px;
}
h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: darkorange;
  text-decoration: underline;
}
a:active {
  color: red;
}
a:visited {
  color: purple;
}






